{% extends "base.html" %}

{% block titulo %}Sobre | Clínica de Psicologia{% endblock %}

{% block conteudo %}
<h2>Sobre a Psicóloga</h2>
</div>
<div class="hero-image">
  <img src="{{ url_for('static', filename='fotos/isabel.png') }}" alt="Psicóloga">
   
</div>
<div class="hero-text">
    <p>Com experiência em diversas áreas da psicologia clínica, nossa missão é oferecer um espaço seguro e acolhedor para que cada pessoa possa se desenvolver emocionalmente.
        Atendimento presencial e online, sempre com ética, empatia e profissionalismo.
       Planejamento estratégico sob medida para o seu negócio
     
         Desenvolvimento de liderança e tomada de decisão
             
           Melhoria na gestão de processos e equipes
           
           Identificação de oportunidades de crescimento sustentável
             
          Acompanhamento próximo para garantir evolução contínua
             
          Invista no futuro da sua empresa com o suporte de quem entende de gestão e resultados.</p>
    
  </div>

{% endblock %}
