<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>{{ grupo }}</title>
<style>
body { font-family: Arial; background: #f7f9fc; padding: 40px; }
form { background: white; padding: 20px 40px; border-radius: 10px; max-width: 700px; margin: auto; }
h2 { color: #007BFF; }
label { display: block; margin-top: 10px; }
button { margin-top: 20px; background: #007BFF; color: white; border: none; padding: 10px 20px; border-radius: 5px; }
</style>
</head>
<body>

  <form method="post">
    <h2>{{ grupo }}</h2>
    {% for pergunta in perguntas %}
        <label>{{ pergunta }}</label>
        <input type="radio" name="{{ pergunta }}" value="sim" required> Sim
        <input type="radio" name="{{ pergunta }}" value="nao" required> Não
    {% endfor %}

    <div style="text-align: center; margin-top: 20px;">
        {% if grupo_index > 0 %}
            <button type="button" onclick="window.location.href='{{ url_for('perguntas', grupo_index=grupo_index - 1) }}'">
                Página Anterior
            </button>
        {% endif %}
        <button type="submit">
            {% if grupo_index + 1 == total %}
                Finalizar
            {% else %}
                Próximo
            {% endif %}
        </button>
    </div>
</form>


</body>
</html>
